.outer-card-container {
  display: flex;
  align-items: center;
  background: rgba(65, 65, 85, 0.25);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  margin: 1rem 0;
  min-height: 300px;
}

.card-container {
  width: 300px;
  height: 100%;
  padding: 1rem;

  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-logo {
  width: 60%;
  margin: 1rem 0;
}

.card-info {
  margin: 1rem;
}