.main-container {
  width: 25%;
}

.secondary-container {
  width: 75%;
}

.fadeIn {
  animation: fadeInAnimation 2s;
  height: 100%;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 780px) {
  .secondary-container {
    display: none;
  }

  .main-container {
    width: 100%;
  }
}